---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import EnrolateForm from '../components/EnrolateForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Enrólate">
  <Navbar isHome={false} />
  
  <main class="flex-grow">
    <EnrolateForm />
  </main>

  <Footer />
</Layout>