---
---
<section id="nosotros" class="py-20 overflow-hidden">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid lg:grid-cols-2 gap-16 items-center">
      <div>
        <h2 class="text-brand-primary text-5xl font-extrabold mb-6">Trabaja junto a nosotros</h2>
        <h3 class="text-2xl font-bold text-black mb-6 leading-snug">
          Te ofrecemos una forma de rentabilizar tu empresa con Capital Express
        </h3>
        <div class="space-y-6 text-brand-secondary text-base mb-8">
          <p>Todo con el respaldo de profesionales <br> con más de 12 años de experiencia.</p>
        </div>
      </div>
      <div class="relative">
        <img src="/CE_PERU-1.png" alt="Equipo Capital Express" class="rounded-[3rem] shadow-lg object-cover w-full h-[400px] rounded-bl-none" referrerpolicy="no-referrer" />
      </div>
    </div>
  </div>
</section>