---
import "../index.css";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} | Capital Express</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
  </head>
  <body
    class="bg-white font-sans text-brand-text selection:bg-brand-primary selection:text-white"
  >
    <slot />
  </body>
</html>
